.navigation {
  margin: 1% 15% 1%;
  position: unset;
}

.navigation-card.navigation-card {
  text-align: center;
  position: unset;
}

.newManBtnGp {
  margin-right: 15px;
  display: flex;
  justify-content: center;
}

.radioCont {
  display: flex;
  justify-content: center;
}

.dualButton {
  display: flex;
  justify-content: center; 
}

.buttonManager {
  margin: 1%;
}
