html {
  height: 100%;
}

header {
	background-color: rgba(93, 173, 226, 0.9);
	width: 100%;
	overflow: hidden;
  top: 0;
}

footer {
  color: #f4f6f7;
	background-color: rgba(93, 173, 226, 0.9);
  width: 100%;
  padding: 1%;
  bottom: 0;
}

.headerNavBar {
	width: 90%;
	margin-left: 0;
  margin-right: 0;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-image {
	float: left;
	display: flex;
	justify-content: left;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.logo-image:hover {
	background: #f4f6f7;
	border-radius: 90%;
}

.imgButt {
  flex-direction: column;
  justify-content: center;
}

.portrait {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 100%;
}

.imageProfile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imgContainer img {
  width: 100%;
  height: auto;
}

.item-content {
	display: inline-block;
  text-align: center;
	padding: 10px;
	line-height: normal;
	font-size: 16px;
	font-weight: bold;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.item-content:hover {
	background: #f4f6f7;
	border-radius: 50px;
}

.news-container {
	padding: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url("../assets/images/Quindio.jpg") no-repeat center top;
  background-attachment: fixed;
	background-size: cover;
}

.img {
	height: 400px;
	object-fit: contain;
}

.linkHeader {
	text-decoration: none;
	font-weight: bolder;
	color: #f4f6f7;
}

.butonModal {
	background: none;
	border: none;
	outline: none;
	color: #f4f6f7;
	font-weight: bolder;
}

.butonModal:hover {
	color: #21618c;
}

.contain {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.fandh {
  background: #ABEBC6;
	font-size: 30px;
	color: #21618c;
	margin-top: 20px;
	text-align: center;
}

.mivi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #21618c;
}

h2 {
  font-weight: bolder !important;
  color: #21618c;
}

.mision {
  margin: 2%;
  width: 50%;
}

.vision {
  margin: 2%;
  width: 50%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list-footer {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.list-footer li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 0;
}

.i {
  margin-right: 12px;
}

p {
  margin: 0 0 10px;
  color: #21618c;
  font-size: 16px;
}

.section {
  padding: 60px 0;
}

footer a {
  margin: 0 0 10px;
  color: #f4f6f7;
  text-decoration: none;
}