html {
  height: 100%;
}

body {
  background: linear-gradient(
			rgba(250, 250, 250, 0.1),
			rgba(250, 250, 250, 0.1)
		),
		url("../assets/images/animal-care.jpg") no-repeat center top;
	background-attachment: fixed;
	background-size: contain;
  height: 100%;
}

header {
	background-color: rgba(93, 173, 226, 0.9);
	width: 100%;
	overflow: hidden;
  position: fixed;
  top: 0;
}

footer {
  color: #f4f6f7;
	background-color: rgba(93, 173, 226, 0.9);
  width: 100%;
  padding: 1%;
  bottom: 0;
  position: fixed;
}

.headerNavBar {
	width: 90%;
	margin-left: 0;
  margin-right: 0;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-image {
	float: left;
	display: flex;
	justify-content: left;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.logo-image:hover {
	background: #f4f6f7;
	border-radius: 90%;
}

.item-content {
	display: inline-block;
  text-align: center;
	padding: 10px;
	line-height: normal;
	font-size: 16px;
	font-weight: bold;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.item-content:hover {
	background: #f4f6f7;
	border-radius: 50px;
}

.news-container {
	margin-top: 110px;
	padding: 20px;
	/* max-width: 750px; */
	background: blueviolet;
}

.img {
	height: 550px;
	object-fit: contain;
}

.linkHeader {
	text-decoration: none;
	font-weight: bolder;
	color: #f4f6f7;
}

.butonModal {
	background: none;
	border: none;
	outline: none;
	color: #f4f6f7;
	font-weight: bolder;
}

.butonModal:hover {
	color: #21618c;
}

.slogan {
	font-size: 30px;
	color: #1a5276;
	margin: 20px;
	text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list-footer {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.list-footer li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 0;
}

.i {
  margin-right: 12px;
}

p {
  margin: 0 0 10px;
}

.section {
  padding: 60px 0;
}

footer a {
  margin: 0 0 10px;
  color: #f4f6f7;
  text-decoration: none;
}